.nav {
    width: 100%;
    flex-direction: row;
    background:#00bbe5;
    position: fixed;
    top: 0;
    z-index: 999;

    &-inner {
        display: flex;
        justify-content: space-between;
        padding: 0 30px;

        a {
            margin-top: 15px;
            text-decoration: none;
        }

        p, a {
            cursor: pointer;
            color: #fff;
        }
    }
}